.blue_label {
    color: white;
    background-color: transparent;
    border: 2px solid #3BBAFF;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    font-size: 16px;
    display: inline-block;
    text-align: center;
  }
  