.section {
  width: 100%;
  height: 100vh;
  background-color: #282a37;
  padding: 20px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}

.section::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.section::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.section::-webkit-scrollbar-thumb {
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
}

.article {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.main_card {
  background-color: #2b2e44;
  color: #fff;
  height: 275px;
  width: 100%;
  min-width: 385px;
  padding: 20px;
  margin: 0 10px 0 20px;
  border: #5f66982f solid 2px;
  .h1 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding: 0 0 15px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #585f88;
  }
  .h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 5px 0;
  }
  .p {
    padding: 0 0 3px 0;
  }
}

.operationRequirements_card {
  background-color: #2b2e44;
  color: #fff;
  min-height: 275px;
  width: 100%;
  min-width: 385px;
  padding: 20px;
  margin: 0 20px 0 10px;
  border: #5f66982f solid 2px;

  .h1 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #585f88;
  }
  .h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 2px 0;
  }
  .p {
    padding: 3px 0;
  }
}

.performance_card {
  background-color: #2b2e44;
  color: #fff;
  height: 270px;
  width: 450px;
  padding: 20px;
  margin: 0 0 0 20px;
  border: #5f66982f solid 2px;

  .h1 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #585f88;
  }
  .h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 2px 0;
  }
  .p {
    padding: 2px 0;
  }
}

.use_card {
  background-color: #2b2e44;
  color: #fff;
  height: 270px;
  width: 100%;
  // max-width: 879px;
  min-width: 510px;
  padding: 20px;
  margin: 0 20px;
  border: #5f66982f solid 2px;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .technicalSpecifications_card {
    width: 50%;
    border-right: 1px solid #585f88;
    padding-right: 20px;
  }

  .safety_card {
    width: 50%;
    padding-left: 10px;
  }

  .h1 {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding: 0 0 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #585f88;
  }
  .h2 {
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 2px 0;
  }
  .p {
    padding: 2px 0;
  }
}

.ico {
  font-size: 38px;
}

@media (max-width: 1521px) {
  .performance_card {
    height: 310px;
  }

  .technicalSpecifications_card .h1 {
    height: 89.4px;
  }

  .use_card {
    height: 310px;
  }
  .use_card .h1 {
    height: 89.4px;
  }
}

@media (max-width: 1445px) {
  .main_card {
    height: 300px;
  }

  .operationRequirements_card {
    height: 300px;
  }

  .performance_card {
    height: 330px;
  }

  .use_card {
    height: 330px;
  }

  .ico {
    font-size: 34px;
  }
}

@media (max-width: 1445px) {
  .ico {
    display: none;
  }
}

@media (max-width: 1350px) {
  .performance_card {
    height: 350px;
  }

  .use_card {
    height: 350px;
  }
}

@media (max-width: 1300px) {
  .performance_card {
    height: 370px;
  }

  .use_card {
    height: 370px;
  }
}

@media (max-width: 1250px) {
  .main_card {
    height: 340px;
  }

  .operationRequirements_card {
    height: 340px;
  }

  .performance_card {
    height: 390px;
  }

  .performance_card .h1 {
    height: 89.4px;
  }

  .use_card {
    height: 390px;
  }
}

@media (max-width: 1200px) {
  .performance_card {
    height: 400px;
  }

  .use_card {
    height: 400px;
  }
}
