.container {
    text-align: center;
    margin: auto;
    height: calc(100vh - 20px - 16px - 40px - 20px - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    display: flex;
    justify-content: row;
    width: 310px;
    margin-bottom: calc(35px + 16px + 20px);
    color: rgba(255, 255, 255, 0.155);
    font-size: 30px;
    font-weight: 600;
    font-family: "roboto", sans-serif;
}

@media (max-width: 1000px) {
    .h1 {
      display: none;
    }
}