.container {
    text-align: center;
    margin: auto;
    width: 306px;
}

.h1 {
    position: absolute;
    top: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.155);
    font-size: 30px;
    font-weight: 600;
    font-family: "roboto", sans-serif;
}

@media (max-width: 1000px) {
    .h1 {
      display: none;
    }
}