.section {
  background-color: #0b132b;
  margin: 5px 5px 5px 5px;
  min-width: 300px;
  max-width: 300px;
  height: calc(100vh - 10px);
  color: #fff;
  overflow: hidden;
  font-family: "roboto", sans-serif;
}