.section {
  background-color: #0b132b;
  margin: 5px 5px 5px 5px;
  min-width: 300px;
  max-width: 300px;
  height: calc(100vh - 10px);
  color: #fff;
  overflow: hidden;
  font-family: "roboto", sans-serif;
}

.scroll_navbar {
  height: calc(100% - 118px);
  background-color: #e7e8ec;
  border: #3a506b solid 1px;
  border-radius: 5px;
  margin: 16px 8px;
  direction: rtl;
  .ul {
    height: 100%;
    list-style-type: none;
    padding: 4px 0;
    color: #598cfd;
    overflow-y: scroll;
    scrollbar-color: #d4aa70 #e4e4e4;
    transition: scrollbar-color 0.3s ease-out;
    .li {
      padding: 12px 12px;
      margin: 6px 6px;
      border-radius: 3px;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      background-color: #fff;
    }
    .li:hover {
      background-color: #e7e8ec;
    }
  }
  .ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .ul::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .ul::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #00aeff, #a68eff);
    border-radius: 10px;
  }
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  min-width: calc(300px - 16px);
  min-height: 40px;
  padding-right: 220px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  margin: 0 8px 25px 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
